@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}



/* NAVIGATION */
.navigation{
    background-color: #eeeeee;
    height: 70px;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    

}

.logo{
    display: flex;
    align-items: center;
    width: 250px;
    margin-right: 100px;

}

.nav-logo{
    width: 45px;
    margin-right: 10px;

}

.nav-text1{
    font-size: large;
    font-weight: 300;
    /* text-align: center; */
    
}

.menu-items a{
    cursor: pointer;
    text-decoration: underline;
    padding: 0px 20px;
    color: black;
    font-size: medium;

}

.user-img{
    width: 35px;
}

.button{
    display: flex;
    justify-content: flex-end;
    
    text-align: center;
    margin-left: 200px;
    width: 25%;
  
    
}

.btn1{
    border: 2px solid #346E84;
    color: #346E84;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #346E84;
    transition: ease-out 0.5s;
    outline: #346E84;
    padding: 8px;
    cursor: pointer;
    width: 100px;
}

.btn1:hover{
    color: white;
    box-shadow: inset 100px 0 0 0 #346E84;
    cursor: pointer;
}

.btn2{
    
    cursor: pointer;
    width: 100px;
    border: 2px solid #346E84;
    color: #fff;
    background-color: #346E84;
    border-radius: 5px;
    outline: none;
    transition: ease-out 0.5s;
    position: relative;
    z-index: 1;
    padding: 8px;
}

.btn2:hover{
    color: #346E84;
    box-shadow: inset 100px 0 0 0 white;
    cursor: pointer;
}


/* HEADER */

.heading{
    width: 100%;
    background: #346E84;
    padding: 100px;
    background-image: url(../img/banner.png);
    position: relative;

}

.heading-text1{
    color: #E0F7FB;
    font-size: 40px;
    font-weight: 900;
    text-decoration: underline;
}

.heading p{
    padding: 50px 0 0 0;
    color: #E0F7FB;
    width: 45%;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.btn4{
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #346E84;
    transition: ease-out 0.5s;
    outline: #346E84;
    padding: 8px;
    cursor: pointer;
    width: 150px;
    margin: 50px 0px 0px 0px;

}

.btn4:hover{
    color: black;
    box-shadow: inset 150px 0 0 0 white;
    cursor: pointer;
    background-color: #fff;
}

/* HEADING 2 */

.heading2{
    background-color: #346E84;
    padding: 50px 100px 50px 100px;
    display: flex;
    color: #fff;
    

}

.heading2 h1{
    font-size: 25px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 15px;
}


.heading2 h5{
    text-align:justify;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    
}


.heading-first{
    text-align: center;
width: 10%;    
}

.heading-left{
    text-align: center;
width: 35%;    
}


.heading-right{
    text-align: center;
width: 35%;    
}

.heading-center{
    text-align: center;
width: 10%;    
}


.heading-last{
    text-align: center;
width: 10%;    
}



/* PROJECTS */
.projects{
    height: 550px;
    background-color: #E0F7FB;
    text-align: center;
    padding-top: 20px;
}

.projected{
    text-decoration: underline;
    color: #346E84;
    font-size: x-large;
    font-weight: 500;
}

.projects-card{
    display: flex;
    margin: 30px 150px;

}

.projects-left h4{
    margin: 20px ;
    text-decoration: none;
    margin-bottom: 40px;
    text-decoration: underline;
    font-size: large;

}

.projects-para{
    text-decoration: none !important;
    margin-bottom: 40px;
}

.projects-left{
    background-color: #99E4F2;
    height: 400px;
    border-radius: 20px;
    box-shadow: 20px 20px 30px -10px grey;
    width: 600px;
    margin-right: 50px;
    padding: 50px;
}

.project-img{
    width: 600px;
    width: 500px;
}



/* GALLERY */
.gallery{
    height: 850px;
    background-color: #346E84;
    text-align: center;
    padding-top: 30px;
}

.gallery-title{
    text-decoration: underline;
    color: #99E4F2;
    font-size: x-large;
    font-weight: 500;
}

.gallery-left{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 1400px;

}

.gallery-right{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 1400px;

}


.gallery-img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin: 30px 30px 0px 0;
    border: 2px solid #E0F7FB;

}

.gallery-card .btn5{
    position: absolute;
    top: 35%;
    left: 28%;
}

.gallery-card .btn6{
    position: absolute;
    top: 35%;
    left: 60%;
}

.gallery-btn{
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #346E84;
    transition: ease-out 0.5s;
    outline: #346E84;
    padding: 8px;
    cursor: pointer;
    width: 150px;
    margin: 50px 0px 0px 0px;
    background-color: #f5b506;
}

.gallery-btn:hover{
    background-color: #99E4F2;
    color: black;
    box-shadow: inset 150px 0 0 0 f5b506;
    cursor: pointer;
}


/* FOOTER */

.footer{
    padding: 50px;
    display: flex;
    flex-direction: row;
    background-color: #99E4F2;
}



.footer-text{
    font-size: small;
    padding-bottom: 20px;
}



.footer-text2{
    font-size: medium;
    font-weight: 400;
    font-style: italic;
    margin-top: 20px;
    width: 80%;
}

.footer-text3{
    width: 100%;
}

.social{
    display: flex;
}

.social .footer-img{
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.footer-one{
    width: 50%;

}

.fotty{
    padding-left: 200px;

}


.footer-two{
    width: 25%;
}

.footer-quick{
    padding: 7px;
    text-decoration: none;
}


.final-footer{
    background-color: #346E84;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    font-weight: 100;
    color: #E3F2FC;
   
}



.footer1{
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: #E0F7FB;
}

.sussex{
    line-height: 30px;
    /* padding-right: 30px; */

}


.btn3{
    width: 600px;
    padding: 15px;
    background-color: black;
    color: #E0F7FB;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #346E84;
    margin: 50px;
    box-shadow: inset 0 0 0 0 346E84;
    transition: ease-out 0.5s;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.btn3:hover{
    width: 600px;
    padding: 15px;
    background-color: #346E84;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: inset 600px 0 0 0 #346E84;

}


