* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 15px;
  padding-top: 2em;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #949292;
}
.img_form {
  margin-top: 2em;
}
.parent {
  display: flex;
}
.child {
  border: 1px solid #949292;
  float: left;
}

.child_a {
  margin-left: 20px;
  width: 25%;
}

.child_b {
  width: 75%;
}

form {
  padding: 30px;
  margin: 0px 100px;
  background-color: white;
  border: solid black 1px;
}
.container {
  margin: 0px 50px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none 1 #949292;
  border-radius: 7px;
  background: #fff;
}
input[type="text"]:focus,
input[type="password"]:focus {
}

#orgOverview {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: solid 1 gray;
  background: #fff;
}

label {
  color: #949292;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: #767676;
}
/* button {
  transition: 150ms all ease-in-out;
  text-decoration: none;
} */

.btn1 {
  border: 2px solid #346e84;
  color: #346e84;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #346e84;
  transition: ease-out 0.5s;
  outline: #346e84;
  padding: 8px;
  cursor: pointer;
  width: 100px;
}

.btn1:hover {
  color: white;
  box-shadow: inset 100px 0 0 0 #346e84;
  cursor: pointer;
  transition: 150ms all ease-in-out;
  cursor: pointer;
}

.btn2 {
  cursor: pointer;
  width: 100px;
  border: 2px solid #346e84;
  color: #fff;
  background-color: #346e84;
  border-radius: 5px;
  outline: none;
  transition: ease-out 0.5s;
  position: relative;
  z-index: 1;
  padding: 8px;
  transition: 200ms all ease-in-out;
}

.btn2:hover {
  color: #346e84;
  box-shadow: inset 100px 0 0 0 white;
  /* transition: 150ms all ease-in-out; */
  cursor: pointer;
}
.pngtxt {
  color: #767676;
}
p {
  color: #949292;
}
