@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Be Vietnam Pro', sans-serif;

}

body {
  background-color: #E3F2FC;
  height: 100vh;
  width: 100%;
}

nav{
  height: 80px ;
  width: 100%;
}


/* header{
  display: flex;
  width: 100%;
} */


.confirm-first{
  padding: 0 100px;
}

.confirm-second{
  /* margin: 30px; */
  margin: 20px 0 0 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}

nav ul{
  float: right;
}

nav ul li{
  display: inline-block;
line-height: 0px;
  margin: 0 5px;
}

nav ul li a{
  border: 2px solid #346E84;
    color: white;
    background-color: #346E84;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #346E84;
    transition: ease-out 0.5s;
    outline: #346E84;
    padding: 8px 30px;
    cursor: pointer;
    width: 100px;
    margin-right: 20px;
    width: 200px;
    font-family: 'Be Vietnam Pro';
}

nav ul li a:hover{
  color: #346E84;
    box-shadow: inset 200px 0 0 0 white;
    cursor: pointer;

}

  

section{
  /* height: 90vh; */
  position: relative;
  margin: 50px 0 0 0;
}

.container{
  background-color: #346E84;
  max-width: 500px;
  margin: auto;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: auto; */
}



.confirm-button{
  cursor: pointer;
    width: 200px;
    border: 2px solid #99E4F2;
    color: black;
    background-color: #99E4F2;
    border-radius: 5px;
    outline: none;
    transition: ease-out 0.5s;
    position: relative;
    z-index: 1;
    padding: 8px;
    /* margin: 20px; */
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.confirm-button:hover{
    color: #346E84;
    box-shadow: inset 200px 0 0 0 white;
    cursor: pointer;
}

.confirm-button1{
  cursor: pointer;
    width: 100px;
    border: 2px solid #346E84;
    color: #fff;
    background-color: #346E84;
    border-radius: 5px;
    outline: none;
    transition: ease-out 0.5s;
    position: relative;
    z-index: 1;
    /* padding: 8px; */
    /* margin: 20px; */
}

.confirm-button1:hover{
    color: #346E84;
    box-shadow: inset 100px 0 0 0 white;
    cursor: pointer;
}

.button{
    font-size: medium;
    font-weight: bolder;
  
}


.confirm-h3{
  margin-bottom: 20px;
  color: white;
  font-family: 'Be Vietnam Pro';

}


.confirm-h4{
  font-size: large;
  font-weight: 500;
  color: white;
  font-family: 'Be Vietnam Pro';

}

.confirm-h5{
  margin-bottom: 20px;
  color: white;
  font-family: Be Vietnam Pro;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;


}


.confirm-btn{
text-align: center;
}


.btn{
  cursor: pointer;
    width: 200px;
    border: 2px solid #346E84;
    color: white;
    background-color: #346E84;
    border-radius: 5px;
    outline: none;
    transition: ease-out 0.5s;
    position: relative;
    z-index: 1;
    padding: 8px;
    /* margin: 20px; */
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.btn:hover{
    color: #346E84;
    box-shadow: inset 200px 0 0 0 white;
    cursor: pointer;
}




@media screen and (max-width: 800px) {
  .upper-menu{
    display: none;
  }
}




@media screen and (min-width: 800px) {
  .confirm-btn{
    display: none;
  }
}