* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

div h2 {
    font-size: 30px;
    margin: 30px 0 10px 15px;
}

.logo-left{
    background-color: azure;
    padding: 20px;
    border: 1px solid #f1f1f1;
}

.text-left{
    text-align: center;
    color: #ffffff;
    
}


.container-2 {
    width: 100%;
    flex: 3;
    padding: 30px;
}
input {
    width: 70%;
    padding: 10px;
    margin: 10px;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 5px;
   
}

.btn {
    width: 70%;
    padding: 10px;
    margin: 10px 0 50px 10px;
    background-color: #346e84;
    color: white;
    cursor: pointer;
    border: 2px solid #346E84;
    border-radius: 5px;
    transition: ease-out 0.5s;
    outline: none;
    font-weight: bold;

}

.btn:hover{
    color: #346E84;
    box-shadow: inset 655px 0 0 0 white;
    cursor: pointer;
    width: 70%;

}


main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.Container-1 {
    flex: 1;
    background-color: #346e84;
}



.contact{
    margin: 30px;
}

.contact-message{
    padding: 30px;
    
}