@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', 'sans-serif';
}


body{
    height: 100vh;
    background-color: white;
}


nav{
    display: flex;
    width: 100%;
}

.about-menu2{
    display: flex;
}

.about-logo{
    width: 25%;
    padding-left: 80px;
}


.about-menu{
    width: 75%;
    margin-left: 40%;
}

.confirm-second{
    padding: 20px;
}


.about-menu2 a{
    cursor: pointer;
    text-decoration: none;
    padding: 0px 20px;
    color: black;
    font-size: medium;

}

.about-menu2 a:hover{
    color: #346E84;
}

.actived{
    color: #346E84;
}

.confirm-second{
    background-color: white;
    display: flex;
    padding: 0px 50px;
    width: 100%;
    line-height: 10vh;
    z-index: 1;

}


.container{
    padding-top: 50px  ;
    text-align: center;
}


.about-h4{
    padding: 0px 300px 20px 300px;
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
}


.final-footer{
    background-color: #346E84;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    font-weight: 100;
    color: #E3F2FC;
   
}



.social{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.social .footer-img{
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}


.footer-text{
    font-size: small;
    padding: 20px;
    color: #E3F2FC;
}


.footer-three{
background-color: #346E84;    
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
align-content: center;
}

.about-h3{
font-style: italic;
font-size: xx-large;
font-weight: 900;
}


.confirm-first{
    /* height: 70%; */
    padding: 20px;
}


.fund-img{
    width: 100%;
    display: flex;
    padding: 50px 100px;
    background-image: url(../img/icons/bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    
}

/* TOP STORIES */

.news-head{
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: center;
}


.img1{
    background-image: url(../img/landingpage/oau1.jpg); 
    /* background-color: #346E84; */
    /* width: 2%; */
    height: 250px;
    position: relative;
    margin-right: 1%;
    margin-bottom: 5%;

}

.img2{
    background-image: url(../img/landingpage/img2.jpg); 
    height: 250px;
    position: relative;
    margin-right: 1%;
}

.img3{
    background-image: url(../img/landingpage/img3.jpg); 
    height: 250px;
    position: relative;
    margin-right: 1%;

}

.img4{
    background-image: url(../img/landingpage/img4.jpg); 
    height: 250px;
    position: relative;
    margin-right: 1%;

}

.news-head article{
    background-color: #346E84;
    width: 23%;
    border-radius: 10px;

}


.news-head article h3, h6, p{
    color: white;
    padding: 25% 0 0 10%;
}

.new-school{
    display: flex;
}

.news-top{
    padding-left: 5%;
}


/* LATEST NEWS */

.news-top1{
    padding-left:  5% ;
}


.latest-news{
    display: flex;
    width: 100%;
    padding: 0 50px;
    justify-content: center;
}


.latest1-text{
    color: black;
    font-size: small;
    font-weight: 400;
    /* width: 40%; */
}

.latest2{
    height: 50%;
    margin: 20% 10%;
}

.latest3{
    height: 70%;
    margin: 10% 10%;
}




@media screen and (max-width: 768px) {
    

    .about-menu2{
        display: flex;
        flex-direction: column;

    }

    .about-logo{
        /* width: 25%; */
        padding-left: 0px;
    }

    
    

}