@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', 'sans-serif';
}


body {
    height: 100vh;
    background-color: white;
}


nav {
    display: flex;
    width: 100%;
}

.about-menu2 {
    display: flex;
}

.about-logo {
    width: 25%;
    padding-left: 80px;
}


.about-menu {
    width: 75%;
    margin-left: 40%;
}



.about-menu2 a {
    cursor: pointer;
    text-decoration: none;
    padding: 0px 20px;
    color: black;
    font-size: medium;

}

.about-menu2 a:hover {
    color: #346E84;
}

.actived {
    color: #346E84;
}

.confirm-second {
    background-color: white;
    display: flex;
    padding: 0px 50px;
    width: 100%;
    line-height: 14vh;
    /* z-index: 1; */

}


.container {
    padding-top: 50px;
    text-align: center;
}


.about-h5 {
    padding: 10px 350px 50px 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    width: 100%;
}

.about-h3{
    font-style: italic;
    font-size: xx-large;
    font-weight: 900;
    }

.services-img {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    
}

.services-img1 {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    /* width: 210px; */
}   

.final-footer {
    background-color: #346E84;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    font-weight: 100;
    color: #E3F2FC;

}



.social {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.social .footer-img {
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}


.footer-text {
    font-size: small;
    padding: 20px;
    color: #E3F2FC;
}


.footer-three {
    background-color: #346E84;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}







.services-btn{
    border: 2px solid #346E84;
    color: white;
    background-color: #346E84;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #346E84;
    transition: ease-out 0.5s;
    outline: #346E84;
    padding: 8px;
    cursor: pointer;
    width: 215px;
    margin-right: 20px;
   
}

.services-btn:hover{
    color: white;
    box-shadow: inset 100px 0 0 0 #346E84;
    cursor: pointer;
}


