@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.navbar{
    background-color: white;
    display: flex;
    padding: 0px 50px;
    width: 100%;
    line-height: 10vh;
    z-index: 1;
}

.img1{
    padding-right: 100px;

}

.menu-items a{
    cursor: pointer;
    text-decoration: none;
    padding: 0px 20px;
    color: black;
    font-size: medium;

}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
    text-align: center;
    margin-left: 330px;
  
    
}

.btn1{
    border: 2px solid #346E84;
    color: #346E84;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #346E84;
    transition: ease-out 0.5s;
    outline: #346E84;
    padding: 8px;
    cursor: pointer;
    width: 100px;
    margin-right: 20px;
}

.btn1:hover{
    color: white;
    box-shadow: inset 100px 0 0 0 #346E84;
    cursor: pointer;
}


.btn2{
    cursor: pointer;
    width: 100px;
    border: 2px solid #346E84;
    color: #fff;
    background-color: #346E84;
    border-radius: 5px;
    outline: none;
    transition: ease-out 0.5s;
    position: relative;
    z-index: 1;
    padding: 8px;
}

.btn2:hover{
    color: #346E84;
    box-shadow: inset 100px 0 0 0 white;
    cursor: pointer;
}

.container{
    /* background-color: aquamarine; */
    display: flex;
    width: 100%;
 
}

.container1{
   
    margin: 150px 150px 0 150px;
    color: #346E84;
}

.font1{
    font-size: 40px;
    margin-bottom: 40px;
}

.font2{
    line-height: 30px;
    font-weight: 100;
    font-size: medium;
    margin-bottom: 30px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* FEATURED UNIVERSITIES IMAGES */

.slide-container{
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-color: #346E84;
    padding: 50px;
    justify-content: center;
}

.card-image{
    position: relative;
    margin: 20px;
    height: 150px;
    margin-top: 30px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name{
    color: #fff;
    font-size: xx-large;
    text-align: center;
    font-weight: normal;
}

.card-content2{
    display: flex;
    margin
}

/* FEATURES */

.features{
    margin: 30px;
    
}
.featured1{
    text-align: center;
    color: #346E84;
    font-size: 20px;
    display: grid;
    place-items: center center;
    margin: 25px;
 
}

.cards{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(400px 1fr));
    padding: 10px;
    grid-gap: 40px;
    text-align: center;


}

.carded{
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0 0 30 grey;
    border: 1px solid #346E84;
    padding: 30px;
}

.cardcard1{
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0 0 30 grey;
    border: 1px solid #346E84;
}

/* .container2{
    text-align: center;

    
} */

.icon1{
    width: 50px;
    display: block;
    border-radius: 20px 20px 0 0 ;
    /* text-align: center; */

}

.details{
    margin-top: 30px;
}

.para1{
    margin: 20px 0px 20px 0px;
}

.btn3{
    cursor: pointer;
    width: 100px;
    border: 2px solid #346E84;
    color: #fff;
    background-color: #346E84;
    border-radius: 5px;
    outline: none;
    transition: ease-out 0.5s;
    position: relative;
    z-index: 1;
    padding: 8px;
}

.btn3:hover{
    color: #346E84;
    box-shadow: inset 100px 0 0 0 white;
    cursor: pointer;
}
